$pink : #FF2D54;
$midGrey : #8E8E93;

body {
  font-family: 'Lato', sans-serif;
  position: relative;
  background: white;
}

.show {
  display: block!important ;
}

.circle-btn-xsSmall {
  position: absolute;
  display: flex;
  background: black;
  border-radius: 250px;
  background-size: cover;
}

div:nth-of-type(even) > .circle-btn-xsSmall {
  animation: evenMoves 26s linear infinite;
}

div:nth-of-type(4n + 0) > .circle-btn-xsSmall {
  animation: evenMoves 16s linear infinite;
}

div:nth-of-type(6n + 0) > .circle-btn-xsSmall {
  animation: evenMoves 20s linear infinite;
}



@keyframes evenMoves {
  0%{
  transform: rotate(0deg) translate(0px, 0px) scale(1);
  }
  25%{
  transform: rotate(15deg) translate(10px, 10px) scale(1);
  }
  75%{
  transform: rotate(-15deg) translate(-10px, -10px) scale(1.04);
  }
  100%{
  transform: rotate(0deg) translate(0px, 0px) scale(1);
  }
}

div:nth-of-type(odd) > .circle-btn-xsSmall {
  animation: oddMoves 22s linear infinite;
}

div:nth-of-type(3n + 0) > .circle-btn-xsSmall {
  animation: oddMoves 36s linear infinite;
}

div:nth-of-type(5n + 0) > .circle-btn-xsSmall {
  animation: evenMoves 32s linear infinite;
}


@keyframes oddMoves {
  0%{
  transform: rotate(0deg) translate(0px, 0px) scale(1);
  }
  25%{
  transform: rotate(-15deg) translate(-10px, -10px) scale(1.02);
  }
  75%{
  transform: rotate(15deg) translate(10px, 10px) scale(1);
  }
  100%{
  transform: rotate(0deg) translate(0px, 0px) scale(1);
  }
}

.space {
  top: 0px;
  left: 0px;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}


.audioWrap {
  display: none;
  left: 0px;
  bottom: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  z-index: 9;
    text-align: center;
}

.audioWrap .blackback {
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
  opacity: 0.7;
}

.clearFront {
  width: 100%;
  height: 50%;
  position: fixed;
  background: transparent;
  opacity: 0;
  z-index: 100;
}
.audioWrap .innerWrap {
  margin-left: -49.5vw;
  left: 50%;
  bottom: -10px;
  overflow: hidden;
  width: 99vw;
  height: 96%;
  position: fixed;
  background: white;
  border-radius: 8px;
}

i.mainNav {
  font-size: 48px;
}

.mainNavCon {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  transition: all 0.4s ease-in;
}

.albumCover {
  height: auto;
  width: 220px;
  border-radius: 5px;
  position: relative;
  background-color: grey;
  margin-top: 20px;
  margin-bottom: 40px;
  transition: all 0.4s ease-in;
}

.playing .albumCover {
  margin-top: 5px;
  margin-bottom: 10px;
  height: auto;
  width: calc(100% - 70px);
}




  .track2{
    transition: all 0.4s ease-in;
    z-index: -1;
    left: 50%;
    margin-left: -110px;
    top: 155px;
    position: absolute;
    transform: rotate(180deg);
    -webkit-mask-image:-webkit-gradient(linear, left bottom, left center, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
  }

  .playing .track2 {
    opacity: 0;
    margin-left: -150px;
    transition: all 0.4s ease-in;
  }

.playing .mainNavCon {
  margin-top: 10px;
}


.volume .col-xs-1 {
  padding-left: 0;
  padding-right: 0;
}

#defualtBar {
  position: relative;
  margin: 0px auto;
  background-color: lightgrey;
  width: calc(100% - 70px);
  height: 3px;
  border-radius: 3px;
}

#progressBar {
  position: absolute;
  background-color: grey;
  width: 0px;
  height: 3px;
  border-radius: 3px;
}


#mediaButtons {
    top: 40px;
  width: calc(100% - 70px);
  height: auto;
  min-height: 50px;
  position: relative;
  margin: 0px auto;
}

#mediaButtons h2 {
  text-align: center;
  position: relative;
  margin: 0px auto;
}
#mediaButtons h3 {
  margin-top: 10px;
  text-align: center;
  position: relative;
  margin: 0px auto;
  color: $pink;
}

button.play {
  background: url(../img/play.png);
  border-width: 0px;
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

button.play.pause {
    background: url(../img/pause.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    background: $midGrey;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background: white;
    margin-top: -12px;
    -webkit-box-shadow: -2px 6px 41px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 6px 41px -5px rgba(0,0,0,0.75);
  box-shadow: -2px 6px 41px -5px rgba(0,0,0,0.75);
}

#currentTime {
  margin-top: 10px;
  position: relative;
  float: left;
}
#fullDuration {
  margin-top: 10px;
  position: relative;
  float: right;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.trackChevron {
  font-size: 24px;
  color: lightgrey;
}

.inner-disLiked {
  animation: innerD 0.3s ease-in-out forwards;
}

@keyframes innerD {
  0%{
    bottom: -10px;
  }
  100% {
    bottom: -680px;
  }
}

.fade-inner-disLiked {
  animation: fadeinnerD 0.5s ease-in forwards;
}

@keyframes fadeinnerD {
  0%{
    top: 0px;
    opacity: 0.7;
  }
  99%{
    top: 0px;
    opacity: 0;
  }
  100% {
    opacity: 0;
    top: -680px;
  }
}

.hide-disLiked {
  animation: hideinnerD 0.8s ease-in forwards;
}

@keyframes hideinnerD {
  0%{
    display: block;
  }
  99%{
    display: block;
  }
  100% {
    display: none !important;
  }
}

.disLikedBubble {
  animation: pop 1.2s ease-out forwards;
}

@keyframes pop {
  0%{

  }
  50%{
    transform: scale(1.0);
    opacity: 1;
  }
  99% {
    transform: scale(1.9);
      opacity: 0.0;
  }

  100% {
    opacity: 0.0;
    transform: scale(1.6);
  }
}
