body {
  font-family: 'Lato', sans-serif;
  position: relative;
  background: white;
}

.show {
  display: block!important ;
}

.circle-btn-xsSmall {
  position: absolute;
  display: flex;
  background: black;
  border-radius: 250px;
  background-size: cover;
}

.space {
  top: 0px;
  left: 0px;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}


.audioWrap {
  display: none;
  left: 0px;
  bottom: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  z-index: 9;
}

.audioWrap .blackback {
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
}
.audioWrap .innerWrap {
  margin-left: -45vw;
  left: 50%;
  bottom: -10px;
  overflow: hidden;
  width: 90vw;
  height: 95%;
  position: fixed;
  background: white;
  border-radius: 8px;
}

.albumCover {
  height: 220px;
  width: 220px;
  border-radius: 5px;
  position: relative;
  left: 50%;
  margin-left: -110px;
  background-color: grey;
  margin-top: 50px;
  margin-bottom: 50px;
}

#defualtBar {
  position: relative;
  margin: 0px auto;
  background-color: lightgrey;
  width: 305px;
  height: 3px;
  border-radius: 3px;
}

#progressBar {
  position: absolute;
  background-color: grey;
  width: 0px;
  height: 3px;
  border-radius: 3px;
}


#mediaButtons {
    top: 40px;
  width: calc(100% - 70px);
  height: auto;
  min-height: 50px;
  position: relative;
  margin: 0px auto;
}

#mediaButtons h2 {
  text-align: center;
  position: relative;
  margin: 0px auto;
}
#mediaButtons h3 {
  margin-top: 10px;
  text-align: center;
  position: relative;
  margin: 0px auto;
}

button.play {
  background: url(../img/play.png);
  border-width: 0px;
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

button.play.pause {
    background: url(../img/pause.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
